.selectCategory {
    margin-bottom: 15px;
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--gray-1);
    padding: 15px 10px;
    width: 100%;
    box-sizing: border-box;
    color: var(--gray-1);
    font-size: 14px;
    cursor: pointer;
}

.selectCategory::placeholder {
    color: var(--gray-1);
}

.selectCategory:focus {
    outline-color: var(--dark);
}

.optionCategoriesPlaceholder {
    background-color: red;
    color: var(--gray-1);
}

.optionCategories {
    color: var(--dark);
}

.inputImpersonatorEmpty {
    position: absolute;
    margin-bottom: 15px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--gray-1);
    color: var(--dark);
    padding: 23px 10px 7px 15px;
    width: 80%;
    max-width: 483px;
    box-sizing: border-box;
    cursor: pointer;
}

.inputImpersonatorFill {
    position: absolute;
    margin-bottom: 15px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--dark);
    color: var(--dark);
    padding: 23px 10px 7px 15px;
    width: 80%;
    max-width: 483px;
    box-sizing: border-box;
    cursor: pointer;
}

.inputImpersonatorEmpty:focus {
    outline-color: var(--dark);
    color: var(--dark);
}

.inputImpersonator::placeholder {
    color: var(--gray-1);
}

.inputImpersonatorMiddle {
    margin-bottom: 15px;
    color: var(--gray-1);
    padding: 15px 7px;
    font-size: 14px;
    position: relative;
    pointer-events: none;
    left: 10px;
    top: 12px;
    transition: .3s ease all;
}

.inputImpersonatorUp {
    margin-bottom: 15px;
    color: var(--gray-1);
    padding: 15px 10px;
    font-size: 11px;
    position: relative;
    pointer-events: none;
    left: 7px;
    top: -1px;
    transition: .3s ease all;
}

.buttonDrawJoke {
    margin-top: 60px;
    margin-bottom: 25px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--dark);
    background-color: var(--dark);
    color: var(--white);
    box-sizing: border-box;
    padding: 15px 10px;
    width: 100%;
    cursor: pointer;
}