.buttonDrawJoke {
    margin-top: 0px;
    margin-bottom: 25px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--dark);
    background-color: var(--dark);
    color: var(--white);
    box-sizing: border-box;
    padding: 15px 10px;
    width: 100%;
    cursor: pointer;
}