.selectOption {
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding: 15px 10px;
    color: var(--gray-1);
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

.empty {
    border-color: var(--gray-1);
}

.fill {
    border-color: var(--dark);
}

.selectButton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.selected {
    color: var(--dark);
}

.arrow {
    margin: 0;
}

.up {
    color: var(--dark);
}

.selectOptionUl {
    position: absolute;
    top: 45px;
    left: -2px;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    width: 101%;
    height: 136px;
    overflow: scroll;
    overflow-x: hidden;
    cursor: pointer;
    line-height: 50px;
    list-style: none;
    z-index: 1;
    background-color: var(--white);
    border-width: 2px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.visible {
    display: block;
    box-sizing: border-box;
}

.visible::-webkit-scrollbar {
    display: none;
}

.hidden {
    display: none;
}

.optionsLi {
    position: relative;
}

.optionsLi:hover {
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--gray-2);
    transition: .2s linear;
}

.optionSelected {
    color: var(--dark);
    padding-left: 5px;
}